@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&family=Source+Code+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    /* TODO learn about box-sizing: border-box;
    margin: 0;
    padding: 0; to layout content*/
    /*background-color: #222529;*/
    color: #fff;
    font-family: Roboto , sans-serif;
    padding: 10px;

    /*border: 1px solid red;*/
    
}

.navbar { /* there two elements logo and links*/
    /*border: 1px solid green;*/
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 30px;
    background-color: #222529;
    border-bottom: 2px solid rgb(89, 125, 124);
    
}

ul {
    list-style-type: none; /* list items with no bullets or other mark*/
}

a {
    text-decoration: none; /*Links with no line underneath*/
}

.logo {
    font-size: 40px;
    font-family: IBM Plex Mono, sans-serif;
    
    
}

.nav { /* centre links in navbar*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

.header {
    /*border: 1px solid violet;*/ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #222529;

}

.header > div > img {
    /*border: 1px solid red;*/
    
}

.h-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*padding: 20px;*/
    
}

.header p {
    text-align: justify;
}

.header button {
    font-size: 20px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(89, 125, 124);
    cursor: pointer;
}

.header button:hover {
    background-color: #fff;
    color: #222529;
}

/* Arrange mid section */

/*.middle {
    display: flex;
    flex-direction: column;

} Try different containers instead of uniting all in one */

/* Style info section */

.info {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
    margin: 60px 0;
    
    
}

.info > div > p > a {
    color: #222529;
}

.info > div > p {
    color: #222529;
}

/* Try id tag to create hover effect and swap images on mouse over */
#green-circle {
    /*border: 1px solid red;*/
    background: url("/images/palmtrees/9.png") no-repeat;
    background-size: cover; /* Give size id to fit image */
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#green-circle:hover {
    background: url("/images/palmtrees/14.png") no-repeat;
    background-size: cover;
}

#purple-circle {
    /*border: 1px solid red;*/
    background: url("/images/palmtrees/11.png") no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    cursor: not-allowed;
}

#purple-circle:hover {
    background: url("/images/palmtrees/15.png") no-repeat;
    background-size: cover;
}

#blue-circle {
    /*border: 1px solid red;*/
    background: url("/images/palmtrees/10.png") no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    cursor: not-allowed;
}

#blue-circle:hover {
    background: url("/images/palmtrees/17.png") no-repeat;
    background-size: cover;
}

#pink-circle {
    /*border: 1px solid red;*/
    background: url("/images/palmtrees/12.png") no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    cursor: not-allowed;
}

#pink-circle:hover {
    background: url("/images/palmtrees/16.png") no-repeat;
    background-size: cover;
}

/* Style quote section */

.quote {
    background-color: rgb(89, 125, 124);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* switch span view to show each text direction*/

.quote button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
}

.quote button:hover .rtl {
    display: none;
}

.quote button:hover .ltr:before {
    content: "from another point of view";
}

.quote > p {
    font-size: 20px;
}

/* Style counter section */

.counter {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px
    
}

.counter > p {
    color: #222529;
    
    
}

.counter button {
    background-color: #222529;
    padding: 10px 50px;
    border-radius: 5px;
    
}

.counter button:hover {
    background-color: rgb(89, 125, 124);

}

/* Style footer */

footer {
    background-color: #222529;
    margin: 60px 0;
}

footer > p {
    text-align: center;
}

/*TODO learn about @media (max-width: 768px) {
    .class .class {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
  
    .info .quote .counter {
      display: block;
      text-align: center;
    }
  } to make mobile responsive*/
  